.icon-home{
	background:url('icons/go-home-5.png') no-repeat center center;
}
.icon-share{
	background:url('icons/emblem-shared.png') no-repeat center center;
}
.icon-upto{
	background:url('icons/media-eject-4.png') no-repeat center center;
}
.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-cash1{
	background:url('icons/icon-cash1.png') no-repeat center center;
}
.icon-cash1{
	background:url('icons/icon-cash1.png') no-repeat center center;
}
.icon-temporar{
	background:url('icons/temporar.png') no-repeat center center;
}
.icon-art{
	background:url('icons/icon-art.png') no-repeat center center;
}
.icon-informasi{
	background:url('icons/icon-information.png') no-repeat center center;
}
.icon-pencile{
	background:url('icons/icon-pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-contact{
	background:url('icons/contact.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('icons/large_chart.png') no-repeat center center;
}
.icon-login{
	background:url('icons/login.png') no-repeat center center;
}
.icon-bookmark{
	background:url('icons/bookmark.png') no-repeat center center;
}
.icon-database{
	background: url('icons/Database.png') no-repeat center center; no-repeat center center;
}
.icon-sett{
	background: url('icons/sett.png') no-repeat center center; no-repeat center center;
}
.icon-mail{
	background: url('icons/mail.png') no-repeat center center; no-repeat center center;
}
.icon-calendar{
	background: url('icons/calendar.png') no-repeat center center; no-repeat center center;
}
.icon-b-browse{
	background: url('icons/b_browse.png') no-repeat center center; no-repeat center center;
}
.icon-b-tblops{
	background: url('icons/b_tblops.png') no-repeat center center; no-repeat center center;
}
.icon-b-spatial{
	background: url('icons/b_spatial.png') no-repeat center center; no-repeat center center;
}
.icon-b-usradd{
	background: url('icons/b_usradd.png') no-repeat center center; no-repeat center center;
}
.icon-b-usrlist{
	background: url('icons/b_usrlist.png') no-repeat center center; no-repeat center center;
}
.icon-b-report{
	background: url('icons/b_report.png') no-repeat center center; no-repeat center center;
}
.icon-b-engine{
	background: url('icons/b_engine.png') no-repeat center center; no-repeat center center;
}
.icon-bd-empty{
	background: url('icons/bd_empty.png') no-repeat center center; no-repeat center center;
}
.icon-s-host{
	background: url('icons/s_host.png') no-repeat center center; no-repeat center center;
}
.icon-b-versions{
	background: url('icons/b_versions.png') no-repeat center center; no-repeat center center;
}
.icon-b-empty{
	background: url('icons/b_empty.png') no-repeat center center; no-repeat center center;
}








	
